body {
	margin: 0;
	font-family: Tahoma;
	font-size: 0.95em;
}

#menu, #menu ul
{
	list-style: none;
	border: 2px solid #000;
	background-color: #006241;
	padding: 2px 2px 32px 2px;
	margin: 0;
  border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
  border-color: #006241;
}

#menu li
{
	float: left;
	margin-right: auto;
	border: 0px solid #006241;
	position: relative;
	border-color: #006241;

}

#menu ul
{
	position: absolute;
	top: 28px;
	left: -1px;
	width: 200px;
	padding: 0;
	display: none;
}

#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 15px;
}
#menu a:link, #menu a:visited
{
	display: block;
	height: auto;
	font-family: Tahoma;
	font-size: 0.95em;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: white;
	padding: 5px;
	border-radius: 2px;
}
#menu li:hover
{
	background-color: #babf10;
	border: 0px solid #babf10;
  border-radius: 1px
}
#menu li:hover ul
{
	display: block;
  border-radius: 6px;

}
 #article {
	 text-align: center;
	 padding: 18%;
}

html {
  background-color: white;
}
footer {
  display: block;
	padding: 1rem;
	position: absolute;
	right: 0;
  bottom: 0;
  left: 0;
	text-align: center;
	color: white;
}

#footerbar{
    margin-top: 80px;
    padding: 1.2em 0;
    background: #babf10;
    margin-right: -33px;
    font-size: 0.95em;
		max-width: 100%;
		font-family: Tahoma;
}

.copyright{
    text-align: center;
    color: white;
}
#mainid {

padding-left: 25%;
padding-right: 25%;
padding-top: 30px;
margin: 0;
font-family: Tahoma;
font-size: 0.95em;
}

#natimg {
	height: 100%;
	width: 100%;

}
